

<%@attractions.each do |attraction|%>
	<div class='panel panel-default col-md-4'>
		<h2><%= attraction.name%></h2>
		<p>Tickets: <%= attraction.tickets%></p>
		<p><%= button_to "#{@message} #{attraction.name}", attraction_path(attraction), method: :get, class: 'btn-primary btn-xs'%></p>
	</div>
<%end%>

